/* Accordian */
.body {
  background-color: #feb236 !important;
}

.accordian-wrapper{
  background-color: #ffef96 !important;
}

.accordian-wrapper {
  margin: auto;
}

.accordian-wrapper i {
  color: #4040a1;
  -webkit-animation: spin 15s linear 10;
  -o-animation: spin 15s linear 10;
  -moz-animation: spin 15s linear 10;
  animation: spin 15s linear 10;
}

.accordian-wrapper i:hover {
  animation-play-state: paused;
}

.navbar {
  /* background-color: #eca1a6 !important; */
}

.item-A {
  background-color: #d6cbd3 !important;
}
.item-A:hover {
  background-color: #563f46 !important;
  color: white !important;
}

.item-S {
  background-color: #bdcebe !important;
  color: #fff !important;
}

.item-S:hover {
  background-color: #b5e7a0 !important;
  color: black !important;
}

.item-D {
  background-color: #e3eaa7 !important;
}

.item-D:hover {
  background-color: #82b74b !important;
  color: white !important;
}

.item-T {
  background-color: #4040a1 !important;
  color: #fff !important;
}

.item-T:hover {
 background-color: #36486b !important;
 color: black !important;
}

/* Animations */
@keyframes spin {
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
}

.search-button {
  background-color: #c94c4c !important;
  color: #fff !important;
}

/* .field {
 background-color: #f4a688 !important;
} */

.form {
  background-color: #fbefcc !important;
}

.list {
  background-color: #f9d5e5 !important;
}

.select {
  background-color: #f9d5e5 !important;
}

.dropdown {
  background-color: #fff2df !important;
}

/* .option-red:hover {
  background-color: red!important;
  color: white !important;
}

 .option-green:hover {
  background-color: green!important;
  color: white !important;
}

.option-blue:hover {
  background-color: blue!important;
  color: white !important;
}

.option-purple:hover {
  background-color: purple!important;
  color: white !important;
}

.option-yellow:hover {
  background-color: yellow!important;
  color: white !important;
}

.option-orange:hover {
  background-color: orange!important;
  color: white !important;
}   */
