/* Accordian */
.body {
  background-color: #feb236 !important;
}

.accordian-wrapper{
  background-color: #ffef96 !important;
}

.accordian-wrapper {
  margin: auto;
}

.accordian-wrapper i {
  color: #4040a1;
  -webkit-animation: spin 15s linear 10;
  -o-animation: spin 15s linear 10;
  -moz-animation: spin 15s linear 10;
  animation: spin 15s linear 10;
}

.accordian-wrapper i:hover {
  animation-play-state: paused;
}

.navbar {
  /* background-color: #eca1a6 !important; */
}

.item-A {
  background-color: #d6cbd3 !important;
}
.item-A:hover {
  background-color: #563f46 !important;
  color: white !important;
}

.item-S {
  background-color: #bdcebe !important;
  color: #fff !important;
}

.item-S:hover {
  background-color: #b5e7a0 !important;
  color: black !important;
}

.item-D {
  background-color: #e3eaa7 !important;
}

.item-D:hover {
  background-color: #82b74b !important;
  color: white !important;
}

.item-T {
  background-color: #4040a1 !important;
  color: #fff !important;
}

.item-T:hover {
 background-color: #36486b !important;
 color: black !important;
}

.search-button {
  background-color: #c94c4c !important;
  color: #fff !important;
}

/* .field {
 background-color: #f4a688 !important;
} */

.form {
  background-color: #fbefcc !important;
}

.list {
  background-color: #f9d5e5 !important;
}



.select {
  background-color: #f9d5e5 !important;
}

.dropdown {
  background-color: #fff2df !important;
}

.option:hover {
  /* background: #fff2df !important; */
  color: #fff !important;
  -webkit-animation: motion 5s linear infinite alternate !important; 
  -o-animation: motion 5s linear infinite alternate !important;
  -moz-animation: motion 5s linear infinite alternate !important; ;
  animation: motion 5s linear infinite alternate !important;
}


/* Animations */
@keyframes spin {
  from {
    transform:rotate(0deg);
  }
  to {
    transform:rotate(360deg);
  }
}

@keyframes motion {
  0% {
    background: red;
  }
  20% {
    background: yellow;
  }
  40% {
    background: indigo;
  }
  60% {
    background: blue;
  }
  80% {
    background: green;
  }
  100% {
    background: skyblue;
  }
}
